.chat-side {
  background-color: #2f3e51;
  float: left;
  height: 100vh;
  width: 300px;
  color: #ffffff;
}
  .chat-user {
    height: 60px;
    background-color: #253141;
    padding: 20px;
    position: relative;
    &__name {
      float: left;
      letter-spacing: 2px;
      line-height: 60px;
      h3 {
        font-size: 16px;
        font-weight: bold;
      }
    }
    &__icon {
      float: right;
      padding: 15px 0px 0px;
      font-size: 23px;
      list-style: none;
      color: white;
      li {
        display: inline-block;
        .fa {
          color: white;
        }
      }
    }
  }
  .chat-group {
    padding: 20px 20px;
    &__name {
      font-weight: bold;
      font-size: 15px;
      color: white;
      padding-bottom: 5px;
    }
    &__message {
      color: white;
      font-size: 11px;
      padding-bottom: 40px
    }
  }