.chat {
  min-width: 980px;
  height: 100%;
}

.chat-main {
  float: right;
  position: relative;
  background-color: #fafafa;
  height: 100vh;
  display: inline-block;
  width: calc(100% - 300px);
}
.chat-header {
  background-color: white;
  height: 100px;
  border-bottom: 1px solid #eeeeee;
  padding-left: 40px;
  padding-right: 40px;
  width: calc(100%- 300px);
  &__left {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 10px;
    .group {
      color: #333333;
      font-size: 20px;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }
    p {
      font-size: 12px;
      color: #999999;
      line-height: 20px;
      display: inline-block;
    }
    span {
      color: #999999;
      font-size: 12px;
    }
    
  }
  &__right {
    float: right;
    .edit-btn {
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      color: #38aef0;
      border: 2px solid;
      text-align: center;
      margin: 28px 0;
      padding: 0 20px;
      line-height: 40px;
    }
  }
}

.chat-messages {
  background-color: #fafafa;
  box-sizing: border-box;
  height: calc( 100vh - 100px - 90px);
  overflow: scroll;
  padding: 46px 40px 0;
  .chat-message {
    margin-bottom: 40px;
    .upper-message{
      display:flex;
      &__user-name{
        color:#434a54;
        font-size:16px;
        font-weight:bold;
      }
      &__date{
        color:#999;
        font-size:12px;
        padding-left:10px;
      }
    }
    .lower-message{
      margin-top:10px;
      &__content{
        color:#434a54;
        font-size:14px;
        margin-bottom:10px;
      }
      &__image{
        object-fit:contain;
        width:200px;
      }
    }
  }
}

.footer{
  height: 90px;
  background-color: #d3d3d3;
  padding: 0px 40px;
  .form{
    .form__message{
      height: 50px;
      width: calc(100% - 160px);
      margin: 20px 0;
      background-color: white;
      color: black;
      float:left;
      border:none;
    }
    .form__mask{
      height: 50px;
      background-color: white;
      padding-right: 20px;
      margin: 20px 0;
      float:left;
      .icon{
        color: black;
        width: 5%;
        line-height: 50px;
      }
      .hidden{
        display:none;
      }
    }
    .form__submit{
      background-color: #38aef0;
      color: white;
      text-align: center;
      height: 50px;
      padding: 0 30px;
      margin: 20px 0 20px 15px;
      float:left;
      border: none;
    }
  }
}